---
galaxy:
  needs: []
  script:
    - ansible-galaxy role info buluma.kernel
  stage: deploy
image: buluma/github-action-molecule:4.0.9
molecule:
  allow_failure: true
  parallel:
    matrix:
      - image: docker-opensuse-systemd
        tag: latest
      - image: docker-ubuntu-systemd
        tag: latest
      - image: docker-ubuntu-systemd
        tag: bionic
      - image: docker-ubuntu-systemd
        tag: focal
      - image: docker-ubuntu-systemd
        tag: jammy
  retry: 1
  script:
    - image=${image} tag=${tag} molecule test
  stage: build
release_job:
  artifacts:
    expire_in: 1 day
    name: $CI_JOB_STAGE-$CI_COMMIT_REF_NAME
    paths:
      - /
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  needs:
    - molecule
  release:
    description: Release created using the release-cli.
    name: Release $CI_COMMIT_TAG
    tag_name: $CI_COMMIT_TAG
  rules:
    - if: $CI_COMMIT_TAG
  script:
    - echo "Running the release job."
  stage: .post
role_testing:
  needs: []
  parallel:
    matrix:
      - image: enterpriselinux
        tag: latest
      - image: docker-opensuse-systemd
        tag: latest
      - image: docker-ubuntu-systemd
        tag: latest
      - image: docker-ubuntu-systemd
        tag: bionic
      - image: docker-ubuntu-systemd
        tag: focal
      - image: docker-ubuntu-systemd
        tag: jammy
  retry: 1
  script:
    - image=${image} tag=${tag} ansible-galaxy install buluma.kernel
  stage: test
services:
  - docker:dind
testing:
  needs: []
  parallel:
    matrix:
      - image: enterpriselinux
        tag: latest
      - image: docker-opensuse-systemd
        tag: latest
      - image: docker-ubuntu-systemd
        tag: latest
      - image: docker-ubuntu-systemd
        tag: bionic
      - image: docker-ubuntu-systemd
        tag: focal
      - image: docker-ubuntu-systemd
        tag: jammy
  retry: 1
  rules:
    - if: $CI_COMMIT_REF_NAME == "testing"
  script:
    - image=${image} tag=${tag} molecule test
  stage: test
variables:
  DOCKER_HOST: tcp://docker:2375
  PY_COLORS: 1
