---
- name: Import assert.yml
  ansible.builtin.import_tasks: assert.yml
  delegate_to: localhost
  run_once: true
- name: Install requirements
  ansible.builtin.package:
    name: "{{ kernel_requirements }}"
    state: present
- name: Download kernel archive
  ansible.builtin.unarchive:
    creates: "{{ kernel_unarchive_creates }}"
    dest: "{{ kernel_build_location }}"
    mode: "0755"
    remote_src: true
    src: "{{ kernel_unarchive_src }}"
- name: Make defconfig
  ansible.builtin.command:
    chdir: "{{ kernel_build_location }}/linux-{{ kernel_version }}"
    cmd: make defconfig
    creates: "{{ kernel_build_location }}/linux-{{ kernel_version }}/.config"
- name: Change selected parameters in config
  ansible.builtin.lineinfile:
    line: "{{ item.name }}={{ item.value }}"
    mode: "0640"
    path: "{{ kernel_build_location }}/linux-{{ kernel_version }}/.config"
    regexp: ^{{ item.name }}=
  loop: "{{ kernel_parameters }}"
  when:
    - kernel_parameters is defined
- name: Make
  ansible.builtin.command:
    chdir: "{{ kernel_build_location }}/linux-{{ kernel_version }}"
    cmd: make -j {{ ansible_processor_vcpus * 2 }}
    creates: "{{ kernel_build_location }}/linux-{{ kernel_version }}/vmlinux"
  async: 1800
  changed_when: false
  poll: 0
  register: kernel_make
- name: Wait for make
  ansible.builtin.async_status:
    jid: "{{ kernel_make.ansible_job_id }}"
  delay: 30
  register: kernel_wait_for_make
  retries: 120
  until:
    - kernel_wait_for_make.finished
- name: Make modules_install
  ansible.builtin.command:
    chdir: "{{ kernel_build_location }}/linux-{{ kernel_version }}"
    cmd: make modules_install
    creates: "{{ kernel_modules_location }}"
- name: Ensure kernel directory exists
  ansible.builtin.file:
    mode: "0750"
    path: "{{ kernel_installation_location | dirname }}"
    state: directory
- name: Make install
  ansible.builtin.command:
    chdir: "{{ kernel_build_location }}/linux-{{ kernel_version }}"
    cmd: make install
    creates: "{{ kernel_installation_location }}"
